# environment variables for running the network-discovery script
# variables in this file override the script variables
# See the readme file to see the complete list of variables
#
# Rename this file to .env or map it in Docker to .env

# example: 
# ENV=DEBUG
# ENV=PROD



#### GLOBAL ENVIRONMENT VARIABLES ####

# PROD or DEBUG
ENV=PROD  

# True or False
VERBOSE=True  

# True or False
DEBUG=True 



#### ROUTER-PARSER ENVIRONMENT VARIABLES ####

ROUTER_PARSER_DIR="router-parser"

# relative path to where the configs can be found
ROUTER_PARSER_CONFIG_FOLDER="$ROUTER_PARSER_DIR/configs"

# relative path to the log folder
ROUTER_PARSER_LOG_FOLDER="$ROUTER_PARSER_DIR/log"

# filename of the log file
ROUTER_PARSER_LOGFILE="router-parser.log"

# relateive path to the output folder
ROUTER_PARSER_OUTPUT_FOLDER="$ROUTER_PARSER_DIR/output"
ROUTER_PARSER_OUTPUT_FILE="router-parser.csv"

# the maximum age of a config file, older files will be ignored, in number of days
ROUTER_PARSER_MAX_CONFIG_AGE=4

# enable the network-discovery data to be included
ADD_NETWORK_DISCOVERY_INFO=true
NETWORK_DISCOVERY_FILE="$ROUTER_PARSER_DIR/network-discovery/network-discovery.csv"





#### CARRIERETHERNET-PARSER ENVIRONMENT VARIABLES ####

# relative path to where the configs can be found
CARRIERETHERNET_PARSER_CONFIG_FOLDER="configs"

# relative path to the log folder
CARRIERETHERNET_PARSER_LOG_FOLDER="logs"

# filename of the log file
CARRIERETHERNET_PARSER_LOGFILE="carrier-ethernet-parser.log"

# relative path to the output folder
CARRIERETHERNET_PARSER_OUTPUT_FOLDER="output"
CARRIERETHERNET_PARSER_OUTPUT_FILE="carrier-ethernet-parser.csv"

# the maximum age of a config file, older files will be ignored, in number of days
CARRIERETHERNET_PARSER_MAX_CONFIG_AGE=5 

